* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

p {
    line-height: 150%;
}

.column-background p{
    font-size: 14px;
    line-height: 150%;
}

.project-paragraph {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    gap: 16px;
}



.header-photo {
    width: 100%;
    margin-bottom: 24px;
}


.navbar {
    padding-top: 32px;
    padding-bottom: 24px;
    background-color: #EFEFEF;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}



.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item a {
    color: #393939;
    text-align: center;
    /*padding: 25px 26px;*/
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-left: 40px;
    padding: 8px;
}

.nav-item a:hover {
    color: #DD9A36;

}



.logo {
    width: 56px;
}

span.border {
    font-weight: bold;
    color: #DD9A36;
}

span.reszka {
    font-weight: bold;
    font-size: 50px;
    color: #966B38;

}

span.bottom-border {
    border-bottom: 2px solid #D6D6D6;
    padding-bottom: 5px;
    color: #393939;
    font-size: 25px;
    height: 2px;
    font-weight: bold;
}

.button-contact {

    color: #EAEAEA;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    font-size: 13px;
    background-color: #DD9A36;
    font-weight: bold;
    border-radius: 2px;
    border-color: #DD9A36;
    border-style: solid;
}

.button-contact:hover {
    background-color: #393939;
    border-color: #393939;
}


.wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 120px;

}

.hello {

    height: 300px;

    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin-left: 88px;
    margin-right: 0;
    padding-right: 0;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 88px;
  }

h3 {

    font-size: 18px;
    font-weight: 500;
    color: #737272;
    margin-bottom: 0;
}

h1 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    color: #393939;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
}

.photo {
    width: 20%;
    padding: 0;
    margin: 0;

}

.my-photo {
    width: 30%;
    padding: 0;
    margin: 0;

}

.orange-font {
    color: #DD9A36
}

.wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-top: 0;
}

.wrapper-2 h4 {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    text-align: center;
}

.wrapper-2 h4:after {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-2 h5 {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-2 h5:after {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-2v2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 136px;
    padding-top: 0;
}

.wrapper-2v2 h4 {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    text-align: left;
}

.wrapper-2v2 h4:after {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-2v2 h5 {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-2v2 h5:after {
    margin-right: 0px;
    margin-left: 0;
}



h4 {

    font-size: 32px;
    color: #393939;
    margin-top: 50px;

    justify-content: flex-start;

}

.two-columns-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 32px;
    margin-bottom: 24px;
}

.two-columns-background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 40px;
    
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    flex-wrap: wrap;
    min-width: 300px;
    
}


.column-centered {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    flex-wrap: wrap;
    min-width: 300px;
    align-items: flex-end;
    justify-content: center;
    
}

.column-centered-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    flex-wrap: wrap;
    min-width: 300px;
    align-items: flex-start;
    justify-content: center;
    
}

.column-background{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    flex-wrap: wrap;
    min-width: 300px;
    background-color: #D6D6D6;
padding: 24px;
}

.column-photo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    flex-wrap: wrap;
    min-width: 300px;
    align-items: flex-end;
}



.project-paragraph h5 {
    margin-top: 16px;
}

.figma {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 450px;
    margin: auto;
}



.wrapper-about {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
   

}

.about-text {
    color: #737272;
    margin-top: 20px;
}

h5 {
    font-size: 20px;
    color: #807F7F;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}



.wrapper-3 {
    display: flex;
    flex-flow: row;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.button-CV {
    border-style: solid;
    color: #EAEAEA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 13px;
    background-color: #DD9A36;
    font-weight: bold;
    border-radius: 2px;
    border-color: #DD9A36;
}

.button-CV:hover {
    background-color: #393939;
    border-color: #393939;
}

.wrapper-3 ul {
    margin: 0.75em 0;
    padding: 0;
    list-style: none;
    color: #9A9A9A;
}

.wrapper-3 li::before {
    content: "";
    border-color: transparent #393939;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.grey-background {
    
    padding-top: 64px;
    padding-bottom: 50px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    
}

.programs-ul {

    margin-left: 180px;
    padding-top: 0;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.project-paragraph ul {
    padding-left: 16px;
    line-height: 150%;
}

ul{
padding-left: 16px;
line-height: 150%;
}

.wrapper-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-top: 0;

}

.wrapper-4 h4 {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    text-align: center;
}

.wrapper-4 h4:after {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-4 h5 {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-4 h5:after {
    margin-right: 0px;
    margin-left: 0;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 20px;

    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 60px;


}

.skill {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-style: solid;
    border-color: #D6D6D6;
    padding: 30px;
    text-align: left;
    align-items: left;
    justify-content: flex-start;
    flex: 1;
    min-height: 250px;
    max-width: 300px;
    min-width: 300px;

}

.skill-2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-style: solid;
    border-color: #D6D6D6;
    padding: 30px;
    text-align: left;
    align-items: left;
    justify-content: flex-start;
    flex: 1;
    min-height: 250px;
    max-width: 300px;
    min-width: 300px;
}

.skill p {
    color: #737272;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 8px;

}

.skill h3 {
    color: #DD9A36;
    font-weight: bold;
    font-size: 24px;
}

.skill-2 p {
    color: #737272;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 8px;

}

.skill-2 h3 {
    color: #DD9A36;
    font-weight: bold;
    font-size: 24px;
}

.project-photo {


    display: block;
    width: 100%;
    height: auto;

}

.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 48px;
}

.image-container-no-bottom {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay img {
    max-width: 100%;
    max-height: 100%;

}

.image-container:hover .overlay {
    opacity: 1;
}


.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.image-container a {
    display: block;
    position: relative;
    z-index: 1;
}

.project-photo-2 {
    max-width: 568px;

}

.project-photo:hover {
    box-shadow: 0 0 11px rgba(58, 58, 58, 0.864);
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.projects-wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.wrapper-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-top: 0;

}

.wrapper-5 h4 {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    text-align: flex;
}

.wrapper-5 h4:after {
    margin-right: 0px;
    margin-left: 0;
}

.wrapper-5 h5 {
    margin-right: 0px;
    margin-left: 0px;
}

.wrapper-5 h5:after {
    margin-right: 0px;
    margin-left: 0px;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 0px;
}


.wrapper-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.wrapper-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 20px;
}

.wrapper-row2 p {
    color: #737272;
    font-size: 16px;


}

.wrapper-row2 a {
    color: #737272;
    font-size: 16px;
    padding-left: 16px;
    text-decoration: none;
}

.wrapper-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;

    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 20px;
}

.wrapper-row p {
    color: #737272;
    font-size: 16px;

}

.wrapper-row a {
    color: #737272;
    font-size: 16px;
    padding-left: 16px;
    text-decoration: none;
}

.wrapper-row a:hover {
    color: #DD9A36;
}

.wrapper-row2 a:hover {
    color: #DD9A36;
}

.wrapper-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.behance-slice {

    margin-bottom: 0;
    padding: 0;

}

.project-photos {
    width: 80%;
    margin-bottom: 0;

    padding-top: 32px;

}

.project-photos-full{
    width: 100%;
    margin-bottom: 0;
    
    padding-top: 32px;
}

.project-photos-small {
    width: 100%;
    margin-bottom: 0;
    padding: 0;

}

.row-photo{
    width: 80%;

}


.project-photos-medium {
    width: 50%;
    margin-bottom: 0;
    padding: 0;

}

.behance {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
}

.video {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #1A1A1A;
    width: 80%;
}

.wrapper-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 100px;
    padding-top: 0;
    max-width: 100px;

}

.wrapper-6 h4 {
    margin-right: 0px;
    margin-left: 50px;
}

.wrapper-6 h4:after {
    margin-right: 0px;
    margin-left: 0px;
}

.wrapper-6 h5 {
    margin-right: 0px;
    margin-left: 0px;
}

.wrapper-6 h5:after {
    margin-right: 0px;
    margin-left: 50px;
}


.typing-text {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.skill-2 li {
    list-style-type: none;
    color: #737272;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.skill-2 ul {
    margin-left: 15px;
    padding: 0;
}

.skill-2 li::before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
    z-index: -1;
}

.skill li {
    list-style-type: none;
    color: #737272;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.skill ul {
    margin-left: 15px;
    padding: 0;
}

.skill li::before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
    z-index: -1;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #393939;

}

.button {
    display: inline-block;
    text-decoration: none;
    color: #393939;
    position: relative;
    padding-left: 24px;
    border-bottom: 1px solid #000;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
  }

  .button:hover {
    color: #DD9A36;

}

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 14px;
  }


  
  

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        top: 48px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #EFEFEF;
        border-width: 1px;
        border-bottom: solid #D6D6D6;

    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .hello {
        height: 500px;
        width: 100%;
        
        padding: 0;
        margin: 0;


    }
    .photo{
        width: 100px;
    }

    .grey-background {
        background-color: #EFEFEF;
        padding-bottom: 40px;
    }

    .projects-wrapper {
        padding-top: 10px;

    }

    .about-wrapper {
        max-width: 80%;

    }

    .project-photo {
        
        margin: 0;
        margin-bottom: 8px;
        justify-content: center;
    }

    html,
    body {
        overflow-x: hidden;
    }


    

    .video {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .wrapper {
        margin: 0;
    
        flex-wrap: wrap;
   
        width: 100%;
        padding: 0;
    }

    .wrapper-row {
        margin-left: 0px;
    }

    .wrapper-row2 {
        margin-left: 0px;
    }

    .skill p {
        padding-top: 8px;

    }

    .skill ul {
        padding-top: 10px;
        text-align: center;
    }

   

    .projects-wrapper-2 {
        margin-bottom: 0;
    }

    .wrapper-5 {
        margin-bottom: 32px;
    }

    .my-photo{
        display: none;
    }

}